


header {
    background: linear-gradient(to right, #2626be 0%, #421685 100%);
    color: white;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: bolder;
}

input {
    border-radius: 5px;
}

img {
    max-width: 75px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 25px;
    padding: 5px 5px 10px 5px;

}

p {
    font-size: 25px;
}

h2 {
    font-size: 40px;
    font-weight: bolder;
}

.search {
    min-height: 98vh;
    justify-content: center;
    align-items: center;
}


.cardColor {
    background-color: rgb(56, 65, 80);
    color: white;
}

.currentWeather {
    min-height: 30vh;
    border: 2px solid;
}

.inputArea {
    width: 100%;
}

.searchBody {
    padding: 5px;
}

.inline {
    display: inline-block;
}

.bolder {
    font-weight: bolder;
}

.safe {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: green;
    display: inline;
}

.orange {
    background-color: orangered;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    display: inline;
}

.warning {
    background-color: yellow;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    display: inline;
}

.danger {
    background-color: red;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    display: inline;
}

.button {
    border-radius: 5px;
    display: block;
    margin-top: 5px;
    width: 100%;
}

.searchButton {
    margin-bottom: 10px;
}

.historyBtn {
    background-color: grey;
    margin-top: 20px;
    border-color: grey;
}

.searchHistory {
    border-top: 2px solid;
    border-color: grey;
}